* {
    margin: 0;
    padding: 0;
  }

  body {
    width: 100%;
  }
  
  html {
    font-family: 'Bebas Neue', cursive;
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
    background: red;
    height: 100vh;
    background-image: url("bg.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .profile>img {
    width: 150px;
    height: 150px;
    border: 3px solid #F66B0E;
    border-radius: 100%;
  }
  
  .profile>p {
    font-size: 1.8em;
    font-weight: 900;
    letter-spacing: 2px;
    color: #fff;
    text-transform: capitalize;
    text-align: center;
  }
  
  .link {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    margin-top: 10px;
  }
  
  .link>a {
    text-decoration: none;
    color: #EFEFEF;
    font-size: 24px;
    text-align: center;
    border: 3px solid #222;
    background-color: #112B3C;
    border-radius: 20px;
    margin: 5px 10px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 500;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
  
  .link>a:hover {
    background-color: black;
  }
  
  .footer {
    text-align: center;
  }
  
  .footer>i {
    color: white;
    font-size: 20px;
  }

  .nooo{
      margin-top: 10px;
  }